@model IEnumerable<NewShop.Models.PageGroup>
@using System.Globalization;
@{
    ViewData["Title"] = "لیست گروه ها";
}

<h1>لیست گروه ها</h1>

<p>
    <a class="btn btn-success" asp-action="Create"> افزودن گروه</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupName)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">ویرایش</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">حذف</a> 
                </td>
            </tr>
        }
    </tbody>
</table>
