@model IEnumerable<Page>
@foreach (var item in Model)
{
<div class="blog-grids wow fadeInDown animated" data-wow-duration=".8s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 0.8s; animation-delay: 0.2s; animation-name: fadeInDown;">
    <div class="blog-grid-right">
        <a asp-controller="News" asp-action="ShowNews" asp-route-id="@item.id"><img src="~/ImageFile/@item.ImageName" class="img-responsive" alt=""></a>
    </div>
    <div class="blog-grid-left">

        <h5><a asp-controller="News" asp-action="ShowNews" asp-route-id="@item.id">@item.Title </a> </h5>
    </div>
    <div class="blog-grid-left">

        <h5 style="color:darkgray">@item.ShortDescription </h5>
    </div>
    <div class="clearfix"> </div>
</div>
}