<div class="col-md-9 technology-right">
    <div class="w3agile-1">
        <div class="welcome">
            <div class="welcome-top heading">
                <h2 class="w3">خوش آمدید</h2>
                <div class="welcome-bottom">
                    <img src="~/images/198.jpg" class="img-responsive" alt="">
                    <p>ایران تایمز یک خبرگزاری بین المللی است به این معنا که پذیرای گزارشگر از سراسر دنیا میباشید
                    </p>
                    <p>برای انتشارگزارش شما باید ابتدا قوانین ما را مطالعه کرده و قبول کنید و گزارشتان شرایط و استاندارد های لازم را داشته باشد</p>
                </div>
            </div>
        </div>
        <div class="team">
            <h3 class="team-heading">
                 تیم ما
            </h3>
            <div class="team-grids">
                <div class="col-md-6 team-grid">
                    <div class="team-grid1">
                        <img src="images/2.jpg" alt=" " class="img-responsive">
                        <div class="p-mask">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>

                        </div>
                    </div>
                    <h5>باقرزاده<span>مدیر فروش</span></h5>
                    <ul class="social">
                        <li>
                            <a class="social-facebook" href="#">
                                <i></i>
                                <div class="tooltip"><span>Facebook</span></div>
                            </a>
                        </li>
                        <li>
                            <a class="social-twitter" href="#">
                                <i></i>
                                <div class="tooltip"><span>Twitter</span></div>
                            </a>
                        </li>
                        <li>
                            <a class="social-google" href="#">
                                <i></i>
                                <div class="tooltip"><span>Google+</span></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 team-grid">
                    <div class="team-grid1">
                        <img src="~/images/3.jpg" alt=" " class="img-responsive">
                        <div class="p-mask">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>

                        </div>
                    </div>
                    <h5>
                       ریوندی<span>
                            مدیر تیم
                        </span>
                    </h5>
                    <ul class="social">
                        <li>
                            <a class="social-facebook" href="#">
                                <i></i>
                                <div class="tooltip"><span>Facebook</span></div>
                            </a>
                        </li>
                        <li>
                            <a class="social-twitter" href="#">
                                <i></i>
                                <div class="tooltip"><span>Twitter</span></div>
                            </a>
                        </li>
                        <li>
                            <a class="social-google" href="#">
                                <i></i>
                                <div class="tooltip"><span>Google+</span></div>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>