@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="alert alert-success" style="margin:10px ; padding:10px">
    <p>
        کاربر گرامی پرداخت شما با موفقیت انجام شد و در لیست اعضای ویژه قرار گرفتید هم اکنون شما میتوانید وارد پنل ادمین شده و خبر درج کنید
    </p>
</div>