<div class="banner-1">
</div>
<div class="col-md-9 technology-right">
    <div class="gallery" id="gallery">

        <h2 class="w3" style="font-size:10px">قوانین</h2>
        <p>
            1.متن خبر شما نباید حاوی الفاظ رکیک باشد
            <br /> 2.شخص ،کشور یا گروه خاصی نباید در خبر شما مورد توهین قرار گیرند
            <br />   3.تمامی پیامد های ناشی از خبر شما به عهده خودتان میباشد و ایران تایمز صرفا یک بستر برای نشر خبر های شماست
            <br />
            بعد از بارگزاری ، خبر شما توسط کارشناس بررسی نهایی میشود و در صورت تایید برروی سایت منتشر میشود
            <br />
         
        <h4>
            همچنین میتوانید با پرداخت حق اشتراک عضو اعضا ویژه شده و از مزایای بخصوص بهره مند شوید !
            در صورت تمایل بر روی این <a asp-controller="Home" asp-action="Membership">لینک</a> کلیک کنید
        </h4>
            
        <p>
            <span style="font-weight:bold">در ادامه میتوانیید تصویر خبرنگاران منتخب ما را ببینید</span>
        </p>
        <div class="gallery-grids">
            <div class="gallery-grid">
                <a href="images/g1.jpg" class="wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <img src="~/images/g1.jpg" alt=" " class="img-responsive zoom-img">
                </a>
                <a href="images/g5.jpg" class="wow fadeInUp animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <img src="~/images/g5.jpg" alt=" " class="img-responsive zoom-img">
                </a>
            </div>
            <div class="gallery-grid">
              
                    <img src="~/images/g6.jpg" alt=" " class="img-responsive zoom-img">
                          
                    <img src="~/images/g2.jpg" alt=" " class="img-responsive zoom-img" />     
            </div>
            <div class="gallery-grid">
              
                    <img src="~/images/g3.jpg" alt=" " class="img-responsive zoom-img">                         
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>