
<div class="row " style="margin:10px">
    <div style="text-align:center">
        <h3>بازیابی رمز عبور</h3>
        <h5>جهت بازیابی رمز عبور لطفا ایمیل خود را وارد نمایید</h5>
    </div>
    <br />
    <form id="form" asp-controller="Account" asp-action="ForgotPassword" method="post" onsubmit="Done">
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input id="email" class="form-control" name="email" required placeholder=" ایمیل خود را وارد نمایید" />
        </div>
        <div class="form-group">
            <input id="submit" type="submit" value="ثبت" class="btn btn-success" />
        </div>
    </form>
</div>

@*<script src="~/js/jquery-1.11.1.min.js"></script>
<script>
    $("#submit").click(function () {
        var param = $("#email").val();
        $.ajax({
            url: "/Account/ForgotPassword",
            method: "post",
            data: param
        }).done(console.log('done'))
    });
</script>*@
