@model IranTimes.EmailViewModel
<div class="row " style="margin:10px">
    <div style="text-align:center">
        <h3>بازیابی رمز عبور</h3>
        <h5>جهت بازیابی رمز عبور لطفا ایمیل خود را وارد نمایید</h5>
    </div>
    <br />

    <form class="form" id="form" asp-action="ForgotPassword" method="post">
        <div class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input id="email" class="form-control"  asp-for="Email" placeholder=" ایمیل خود را وارد نمایید" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input id="submit" type="submit" value="ثبت" class="btn btn-success" />
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@*<script src="~/js/jquery.chocolat.js"></script>
<script src="~/js/jquery-1.11.1.min.js"></script>
<script>
    $("#submit").click(function () {
        var param = $("#form").serialize();
        $.ajax({
            url: "/Account/ForgotPassword",
            method: "post",
            data:  param 
        }).success(
    $("#email").val(""),
    alert('لینک بازیابی رمز عبور به ایمیل شماارسال شد'))
     });
    $("#submit").submit(
        alert('لینک بازیابی رمز عبور به ایمیل شماارسال شد')
    );
</script>*@
