@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert-success ,row">
    <h3 style="padding:25px">ثبت نام شما با موفقیت انجام شد ! 
    برای ورود به حساب کاربری خود به صفحه اصلی بازگشته و از منو بالا روی گزینه "ورود" کلیک کنید</h3>

   
</div>