@using IranTimes
@model ResetPasswordViewModel

<div class="row">
    <div style="text-align:center">
        <h4>
            لطفا رمز عبور جدید را وارد نمایید
        </h4>
    </div>
    <form id="form" asp-action="ResetPassword" asp-controller="Account" method="post">
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input id="password" type="password" asp-for="Password" class="form-control" placeholder="رمز عبور جدید" />
            <span asp-validation-for="Password"  class="text-danger"></span>
        </div>
        <input id="username" type="hidden" asp-for="UserName" />
        <input id="token" type="hidden" asp-for="Token" />

        <div class="form-group">
            <input id="submit" type="submit" value="ثبت" class="btn btn-primary" />
        </div>
    </form>
</div>

@*<script src="~/js/jquery-1.11.1.min.js"></script>
<script src="~/js/jquery.chocolat.js"></script>
<script>
    $("#submit").click(function () {
        var password = $("#password").val();
        var userName = $("#username").val();
        var token = $("#token").val();
        $.ajax({
            url: "/Account/ResetPassword",
            method: "post",
            data: { Password: password, UserName: userName, Token: token },
            dataType: 'json',
            success: function (data) {
                if (data.success == true) {
                    alert('true')
                } else {
                    alert('false')
                }
            }
        });
    });
</script>*@