@using IranTimes
@model ResetPasswordViewModel

<div class="row">
    <div style="text-align:center">
        <h4>
            لطفا رمز عبور جدید را وارد نمایید
        </h4>
    </div>
    <form asp-action="ResetPassword">
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input type="password" required asp-for="Password" class="form-control" placeholder="رمز عبور جدید" />
            <span asp-validation-for="Password" class="text-danger" ></span>
        </div>
        <input type="hidden" asp-for="UserName" />
        <input type="hidden" asp-for="Token" />

        <div class="form-group">
            <input type="submit" value="ثبت" class="btn btn-primary" />
        </div>
    </form>

</div>